.site-header {
    background-image: url('../Image/Header3.png');
    background-size: cover;
    background-position: center;
}
<<<<<<< HEAD
=======
.text-gray-600 {
    color: #4B5563;
}
>>>>>>> eac4abe491617c87486eef5efee89290b12a3a9b
